html {
  height: 100%;
  width: 100%;
}

body{
  background-color: indianred;
  color: rebeccapurple;
}
p{
  font-family: fantasy;
}
h1{font-size:2em;color:#FEBA9D;}
h2{font-size:1.5em;color:#EA526F;}
h3{font-size:1em;color:#f49c76;}

.banner{
  background-color: aliceblue;
  margin: 15px;
  padding: 10px;
  border: 3px solid #00BBF9;
  box-shadow: 5px 2px 5px 5px #78e8e8;
  outline-offset: 1px;
  outline: groove 2px #F15BB5;;
  text-transform: capitalize;
  text-shadow: 1px 1px #EA526F;
  font-family: 'Bubblegum Sans';
  font-style: oblique;
  text-align: right;
}

#logo{
  width: 200px;
  z-index: 1;
  position:absolute;
  top: 10%;
  right: 20%;
}